
@media (max-width: 767px){
    body {
      background-color: red;
    }
}

@media (max-width: 576px){
    body {
      background-color: yellow;
    }
    .leftMenu {
        flex-direction: row;
    }
}

