/* Google Font CSS */
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Quicksand&display=swap');

/* reset css */
body{
     margin: 0;
     padding: 0;
}

.container{
    width: 1180px;
    margin: 30px auto;
    position: relative;
}
 /* header css */
header{
    background: #161616;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 500px;
    border-radius: 15px;
    padding: 30px 0 0 0;
}

.leftContent{
    position: absolute;
    width: 500px;
    left: 75px;
    top: 70px;
}
header h1{
    font-family: 'Patua One', cursive;
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
    line-height: 60px;
    font-size: 60px;
    letter-spacing: 2px;
}

header p{
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    padding: 15px 0;
}
.link-button{
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    border-radius: 5px;
    padding: 16px 25px 16px 25px;
    transition: 1s;
    display: inline-block;
    background: #DD0000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: bold;
}
.link-button:hover{
    background: #FF3800;
}
.rightContent{
    background: url(../assets/playerImg.png) no-repeat;
    width: 401px;
    height: 480px;
    position: absolute;
    right: 75px;
    bottom: 0;
}
.matchList{
    margin-top: 70px;
}
.leftMenu{
    /* position: absolute;
    left: 0;
    top:0; */
    background: #161616;
    border-radius: 10px;
    width: 260px;
    padding: 20px;
}
.leftMenu ul,
footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.leftMenu li{
    margin: 15px 0;
}

.leftMenu li a{
    display: block;
    background: #fff;
    color: #161616;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 15px 0px;
    border-radius: 10px;
    transition: 1s;
}
.leftMenu li.active a, .leftMenu li a:hover{
    background: #DD0000;
    color: #fff;
}
footer{
    clear: both;
    background: #161616;
    padding: 40px 0;
    text-align: center;
}
footer h4{
    font-family: 'Patua One', cursive;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 25px;
}
.footer-links li{
    display: inline-block;
    padding: 0 25px;
}
.footer-links li a{
    color: #B9B9B9;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    transition: 1s;
}
.footer-links li a:hover{
    color: #fff;
}
.social-icons{
    margin-top: 35px;
}
.social-icons li{
    display: inline-block;
    padding: 0 5px;
}
.social-icons li a{
    background-color: #DD0000;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 22px;
    border-radius: 50%;
    transition: .5s ease;
    text-decoration: none;
}
.social-icons li a:hover{
    transform: rotate(360deg);
    background: #FF3800;

}